{% extends 'base.html' %}

{% block title %}
Добавление записи
{% endblock %}


{% block content %}
<h1 class="title_for_main_page">Расскажите что-то интересное</h1>
<form method="post" class="for_add_inputs1">
    <input type="text" name="title" placeholder="Введите заголовок статьи" class="for_add_inputs2"><br>
    <p></p>
    <input type="text" name="text" placeholder="Введите описание статьи" class="for_add_inputs2"><br>
    <p></p>
    <textarea name="full_content" placeholder="Введите текст статьи" class="for_add_inputs2" rows="8" cols="40"></textarea><br>
    <p></p>
    <input type="text" name="image_url" placeholder="URL изображения" class="for_add_inputs2"><br>
    <p></p>
    <button class="btn btn-success" type="submit">Добавить</button>
</form>

<body>
    <!-- Your body content here -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
</body>

{% endblock %}

