{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}

{% block content %}

<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Commodi illo nisi repellat suscipit!</li>
<li>At esse maxime quod sint?</li>
<li>Error est inventore mollitia placeat?</li>
<li>Aliquam laboriosam laudantium magni maxime!</li>
<li>Alias amet at rerum veritatis.</li>
<li>Ab earum eum explicabo laboriosam!</li>
<li>At eum natus optio reiciendis!</li>
<li>Harum maxime neque porro quia!</li>
<li>Architecto dolor laudantium quam recusandae.</li>
<li>Alias eius impedit minima voluptates!</li>
<li>Dicta error ipsa praesentium rerum!</li>
<li>Aperiam delectus optio quaerat quasi.</li>
<li>Aut cupiditate explicabo iste voluptates?</li>
<li>Dolor dolore molestias neque repellendus.</li>
<li>Ad aperiam in obcaecati omnis.</li>
<li>Quae recusandae rem tempora voluptates.</li>
<li>Atque dicta officiis reiciendis repellendus.</li>
<li>Aperiam aspernatur cumque itaque omnis?</li>
<li>Atque consectetur dicta quis. Vitae?</li>
<li>Ab aliquid enim hic repellat!</li>
<li>Delectus laboriosam nisi porro provident.</li>
<li>Ab aliquid expedita nostrum quidem!</li>
<li>Atque ducimus facere harum recusandae.</li>
<li>Debitis ex exercitationem quibusdam voluptates?</li>
<li>Consequuntur ducimus laboriosam nobis ratione?</li>
<li>Animi aperiam in quos sed.</li>
<li>Facilis perspiciatis quas quidem quisquam.</li>
<li>Ea excepturi fugiat saepe voluptates.</li>
<li>Ipsam pariatur qui rem sunt.</li>
<li>Aspernatur beatae ducimus id perspiciatis!</li>
<li>Beatae magni neque nobis quibusdam?</li>
<li>Aliquid consequuntur et molestiae sapiente!</li>
<li>Deserunt explicabo quam ullam voluptas.</li>
<li>Aspernatur modi natus placeat quisquam?</li>
<li>Atque eligendi esse in vel.</li>
<li>Consequatur est excepturi possimus quo?</li>
<li>Iste, quo, quos. Sapiente, sint.</li>
<li>Nemo nesciunt omnis placeat sed?</li>
<li>Ipsam saepe sapiente sint vitae?</li>
<li>Dolorem exercitationem nobis officiis reiciendis.</li>
<li>A aspernatur neque nobis quibusdam.</li>
<li>Consequatur ex labore reprehenderit sint.</li>
<li>Animi architecto molestias porro suscipit!</li>
<li>Error necessitatibus nihil nisi odio.</li>
<li>Dolorum nobis quia reiciendis sed!</li>
<li>Consequuntur eveniet neque officia reprehenderit?</li>
<li>Aliquid in nisi obcaecati voluptatibus.</li>
<li>Laboriosam laudantium nihil nulla placeat.</li>
<li>Eveniet facilis illum itaque mollitia?</li>
<li>Blanditiis maxime nisi odio quam.</li>
<li>Aspernatur expedita maiores totam voluptatum.</li>
<li>Accusantium cupiditate eveniet fugit unde?</li>
<li>Earum ex repellat sit voluptate?</li>
<li>At consequuntur id laborum quo?</li>
<li>Consequuntur doloremque impedit mollitia reiciendis.</li>
<li>Id iusto magni repellat sapiente.</li>
<li>Accusamus distinctio eum laboriosam quia?</li>
<li>A eligendi libero repudiandae! Animi.</li>
<li>At eius placeat recusandae reiciendis.</li>
<li>Corporis eos placeat qui vel!</li>
<li>Dolore enim excepturi omnis quod.</li>
<li>Iusto numquam recusandae totam? Impedit.</li>
<li>Accusamus atque labore optio voluptate.</li>
<li>Cumque eaque explicabo facere voluptatem?</li>
<li>Laborum placeat provident saepe sit!</li>
<li>Consequatur exercitationem ipsam nam quisquam.</li>
<li>Consequuntur ex illo perspiciatis voluptatum.</li>
<li>Adipisci enim iure odit sit?</li>
<li>Adipisci earum neque rerum voluptatibus?</li>
{% endblock %}